<div class="container">
  <h2 class="p-3">Edit profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label 'Avatar', class: "fs-4 me-5" %>
      </div>
      <div class="col-3">
        <%= edit_avatar %>
      </div>
      <div class="col-5">
        <%= f.file_field :avatar, autofocus: true, class: "form-control"%>
      </div>
    </div>

    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label 'First name', class: "fs-4 me-5" %>
      </div>
      <div class="col-5">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control"%>
      </div>
    </div>

     <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label 'Last name', class: "fs-4 me-5" %>
      </div>
      <div class="col-5">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control"%>
      </div>
    </div>

    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label :phone_number, class: "fs-4 me-5"%>
      </div>
      <div class="col-5">
        <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label :email, class: "fs-4 me-5"%>
      </div>
      <div class="col-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label :password, class: "fs-4 me-5" %>
      </div>
      <div class="col-5">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        <% if @minimum_password_length %>
          <small class="fw-light fst-italic"><%= @minimum_password_length %> symbols minimum</small>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label :password_confirmation, class: "fs-4 me-5"  %><br />
      </div>
      <div class="col-5">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <%= f.label :current_password, class: "fs-4 me-5" %><br />
        <small class="fw-light fst-italic">Enter your current password to update</small>
      </div>
      <div class="col-5">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <div class="actions row justify-content-md-between flex p-2">
      <div class="d-grid gap-2 col-2 mb-auto">
        <%= f.submit 'Update', class:" btn btn-lg btn-primary m-2" %>
      </div>
      <div class="col-2 ps-4">
        <%= link_to 'Back', :back, class:" btn btn-secondary btn-lg m-2"%>
      </div>
    </div>

    <hr>
  <% end %>

  <div class="containter">
    <div class="row justify-content-md-between flex p-3">
      <div class="col-md-auto">
        <span class="fs-4 me-5">Delete account</span>
      </div>
      <div class="col-2 ps-4">
        <%= button_to 'Delete', registration_path(resource_name), form: { data: { turbo_confirm: 'Are you sure?' }}, method: :delete, class:" btn btn-lg btn-primary m-2" %>
      </div>
    </div>
  </div>
</div>
