<div class='container mt-2'>
  <%= form_for Appointment.new do |f| %>
    <%= f.hidden_field :doctor_id, value: current_user.id %>

    <%= f.label :appointment_date, class: 'form-label'%>
    <%= f.datetime_field :appointment_date, min: Date.tomorrow.at_beginning_of_day, class: 'form-control', required: true %>

    <%= f.label :patient_id, class: 'form-label' %>
    <%= f.select("patient_id", Patient.all.collect {|c| [ c.full_name, c.id ] }, { include_blank: true }, { class: 'form-select' } ) %>

    <div>
      <%= f.submit 'Make doctor appointment', class: "btn btn-success mt-2 me-2 float-sm-end" %>
    </div>
  <% end %>
</div>