<div class='container mt-2'>
  <%= form_for Appointment.new do |f| %>
    <%= f.hidden_field :patient_id, value: current_user.id %>

    <div data-controller="get">
      <label> Category </label>
      <%= select("category", "category_id", @categories.collect {|c| [ c.name, c.id ] }, { include_blank: true }, { class: 'form-select', data: { action: "change->get#categoryDoctors" }} ) %>

      <%= f.label :doctor_id, class: 'form-label' %>
      <%= f.select :doctor_id, [], {}, { class: 'form-control', required: true, data: { action: "change->get#userSlots" }} %>
    </div>

    <%= f.label :appointment_date, class: 'form-label'%>
    <ul id="selectable" class="list-group" data-controller="list">
    </ul>

    <%= f.hidden_field :appointment_date, required: true %>

    <%= f.submit 'Make appointment', class: "btn btn-success mt-2 me-2 float-sm-end" %>
  <% end %>
</div>
