<div class='container mt-2'>
  <%= form_for @appointment do |f| %>
    <%= f.label :description, class: 'form-label'%>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.label :recomendation, class: 'form-label'%>
    <%= f.text_field :recomendation, class: 'form-control', required: true %>

    <div>
      <%= f.submit 'Make recomendation', class: "btn btn-success mt-2 me-2 float-sm-end" %>
    </div>
  <% end %>
</div>