<div class='container'>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th scope="row">Description</th>
        <td><strong><%= @appointment.description %></strong></td>
      </tr>
      <tr>
        <th scope="row">Appointment date</th>
        <td><strong><%= @appointment.time_slot.appointment_date.to_fs(:long_ordinal) %></strong></td>
      </tr>
      <tr>
        <th scope="row"><%= current_user.doctor? ? 'Patient' : 'Doctor'%></th>
        <td colspan="2"><strong><%= current_user.doctor? ? @appointment.patient.full_name: @appointment.doctor.full_name %></strong></td>
      </tr>
      <tr>
        <th scope="row">Recomendation</th>
        <td colspan="2"><strong><%= @appointment.recomendation %></strong></td>
      </tr>
    </tbody>
  </table>
  <% if current_user.doctor? && !@appointment.closed? %>
    <%= link_to 'Update appointment', edit_appointment_path(@appointment), class: 'btn btn-success', method: :get %>
  <% end %>  
</div>
