<h1>Welcome to Polyclinic Management app</h1>

<p><%= full_name %></p>
<% # TODO: wip state; change it in next pr %>
<% @categories.each do |category| %>
  <%= category.name %>
  <ul>
    <% category.doctors.each do |doctor| %>
      <li><%= doctor.first_name %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div>
    <%= form_for Appointment.new do |f| %>
     <label>New Appointment</label>
      <%= f.date_field :appointment_date, min: 0.days.ago %>

      <%= select_tag :category, options_from_collection_for_select(@categories, :id, :name) %>
      <div>
        <%= f.submit 'Submit', class: "button-secondary" %>
        <%# <%= link_to 'Back', appointments_path %>
      </div>
    <% end %>
  </div>
</div>
